*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #c35252;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

.logo {
    margin-top: 30px;
    width: 30%;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 100%;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    position: relative;
    overflow: hidden;
}

.background video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swapForm {
    background: none;
    border: none;
    cursor: pointer;
}
