.title h1 {
    color: #152348;;
}

.loginCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.loginForm input {
    background-color: #e9e9e9;
}

.loginForm input[type="text"], .loginForm input[type="password"]{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border-style: hidden;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}

.sendLogin {
    font-family: 'Marcellus SC', serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 15px;
    background: #d13639;
    color: #ffffff;
    box-shadow: inset 0 0 2px #d52525;
    width: 60%;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 130px;
    border-radius: 10px;
    border: 0;
}

.sendLogin:hover {
    text-shadow: 0 0 5px #ffffff80;
    box-shadow: 0 0 8px 0 #ffffff50;
    background: linear-gradient(to bottom, #d13639, #ea474d);
    cursor: pointer;
    transition: 0.1s;
}

.sendLogin:active {
    text-shadow: none;
    box-shadow: none;
    color: #00000030;
}

.remenberMe {
    margin-right: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remenberMe input {
    margin-right: 5px;
    accent-color: #e0e0e0;
    transition: transform 0.3s ease-in-out;
}

.remenberMe input:checked {
    transform: scale(1.2);
}