.formProfile {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.formProfile button {
    font-family: 'Marcellus SC', serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 15px;
    background: #d13639;
    color: #ffffff;
    box-shadow: inset 0 0 2px #970202;
    height: 60px;
    margin-bottom: 5px;
    margin-top: 20px;
    border-radius: 10px;
    border: 0;
}

.formProfile button:hover {
    text-shadow: 0 0 5px #ffffff80;
    box-shadow: 0 0 8px 0 #ffffff50;
    background: linear-gradient(to bottom, #d13639, #ea474d);
    cursor: pointer;
    transition: 0.1s;
}

.formProfile button:active {
    text-shadow: none;
    box-shadow: none;
    color: #00000030;
}

