body {
  margin: 0;
  background-color: #ffffff;
  position: relative;
}

#volumeIcon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  opacity: 0.8;
  cursor: pointer;
}