.tableGame {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
    margin: 1%;
}

.tableGame th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.tableGame td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.tableGame tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.tableGame tr:nth-child(even) {
    background-color: #d9d9d9;
}

/* Style des lignes au survol */
.tableGame tr:hover {
    background-color: #e6e6e6;
}

.GamesContainer {
    border-radius: 50px;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading img {
    width: 20%;
    height: auto;
}