table {
    display: table;
    border-collapse: separate;
    width: 50%;
}

th {
    padding: 1% 2%;
}

td {
    padding: 1% 2%;
    width: 50%;
}

td:nth-child(2) {
    text-align: center;
}

tbody td:hover {
    background-color: #ffffff;
    cursor: pointer;
}

