.JoinOrCreate {
    background: none;
    border-radius: 50px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s;
}

.JoinOrCreate .createMatchButton ,
.JoinOrCreate .joinMatchButton {
    background-color: #dfdfdf;
    border: none;
    border-radius: 25px;
    width: 30%;
    height: 25%;
    font-size: 2vw;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: scale(1);
}

.JoinOrCreate .createMatchButton:hover,
.JoinOrCreate .joinMatchButton:hover {
    transform: scale(1.1);
    background-color: #ffffff;
}

.formMatch {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.formMatch i {
    color: white;
}

Select {
    color: black;
}

.sendMatch {
    font-size: small;
    width: 15%;
    height: 20%;
    border: none;
    border-radius: 12px;
}

.DashboardMatch {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}